/*added background image to the body*/
body{
    background-image: url(../responsive-portfolio/images/christmas-dark.png);
}

}
/*projects in portfolio*/
#projects span{
    padding: 1opx 20px 10px 20px;
}
#projects hr{
    border-width: 2px;
    margin-top: 06px;
}
/*added margin and width to the class*/
.get_in_touch{
max-width: 800px;
margin: 50px auto;
position: relative;
box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
padding: 30px;
}
/*added upper case to the title, center, color, also some padding for separation*/
.get_in_touch .title{
text-transform: uppercase;
text-align: center;
letter-spacing: 3px;
font-size: 3em;
line-height: 48px;
padding-bottom: 20px;
color: black;
}
.contact-form .form-field{
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text{
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: gray;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: rgb(248, 246, 246);
}
#sticky-footer .fa{
    color: white;
}