/*added background image to the body*/
body{
    background-image: url(../responsive-portfolio/images/christmas-dark.png);
}
/*added color to the icons*/
#footer .fa
{
    color: white;
}
/*projects in portfolio*/
#projects span{
    padding: 1opx 20px 10px 20px;
}
#projects hr{
    border-width: 2px;
    margin-top: 06px;
}